<% provide(:title, "学年暦") %>
<div>
  <div class="flex justify-between items-center">
    <h2 class="text-xl font-semibold leading-7 text-white">学年暦</h2>
  </div>
  <div class="mt-6 border-t border-gray-100">
    <div class="mt-4">
      <%= render("shared/academic_calendar") %>
    </div>
  </div>
</div>
