<% provide(:title, "授業時間割") %>
<div>
  <div class="flex justify-between items-center">
    <h3 class="text-xl font-semibold leading-7 text-white">授業時間割</h3>
    <div>
      <%= link_to(users_class_syllabuses_path(format: :csv), class: "text-xl") do %>
        <i class="fa-solid fa-file-arrow-down"></i>
      <% end %>
    </div>
  </div>
  <div class="mt-6 pt-6 border-t border-gray-100">
    <div class="relative overflow-x-auto">
    </div>
  </div>
</div>
