<footer class="flex flex-col items-start justify-between bg-gray-100 text-black px-8 py-8">
  <div>
    <%= render("shared/svg/bigicon") %>
  </div>
  <div class="pt-2">
    <p class="align-middle">(C) <%= Time.current.year %> KaguraGateway.</p>
  </div>
</footer>
