<header class="bg-gray-100 shadow-sm">
  <div class="mx-auto max-w-7xl sm:px-6 lg:px-8 py-2">
    <div class="flex items-center justify-between">
      <div>
        <%= render("shared/svg/bigicon") %>
      </div>
      <div class="flex flex-1 items-center justify-end"></div>
    </div>
  </div>
</header>
