<!DOCTYPE html>
<html>
  <head>
    <title>KITPortalWalk</title>
    <%= render("layouts/head") %>
  </head>
  <body class="min-h-screen bg-sky-950 text-gray-100">
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
